body {
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  min-height: 100vh;
}

#container {
  margin: 0 auto;
  width: 800px;
  border: solid 1px;
}

#header {
  text-align: center;
  padding: 20px;
}

#header h1 {
  font-size: 24px;
  margin: 0;
}

#header h2 {
  font-size: 20px;
  margin: 0;
}

#content {
  clear: left;
  padding: 20px;
}

#content h2 {
  font-size: 160%;
  margin: 0 0 .5em;
}

#aviso {
  background: red;
  color: black;
}

li {
  padding: 18px;
}

textarea {
  resize: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

#footer {
  text-align: center;
  padding: 20px;
  margin: 0px;
  height: 1%;
}

img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
}